#### Problem Statement

You have been as a data analyst for a supermarket. The supermarket has 3 branches located in the 3 major cities in Nigeria and they have been gathering data for the past 3 months on purchases made in their locations. The company is interested in understanding how the business is faring and whats to identify areas of improvements/risks.

#### Objectives

- Get the sales data for each branch

- Examine and Profile the data

- Prepare for visualization

- Draw conclusions and recommendation

Best Practice for data analysis/science - CRISP-DM framework (Cross Industry Standard Process for Data Mining)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt # data viz library
import seaborn as sb # data viz library

In [3]:
lagos_df = pd.read_csv('datasource/Lagos_Branch.csv', sep=',')
abuja_df = pd.read_csv('datasource/Abuja_Branch.csv')
ph_df = pd.read_csv('datasource/Port_Harcourt_Branch.csv')

In [5]:
## reading excel files

# lagos_df = pd.read_excel('datasource/Lagos_Branch.xlxs')
# abuja_df = pd.read_excel('datasource/Abuja_Branch.xlxs')
# ph_df = pd.read_excel('datasource/Port_Harcourt_Branch.xlxs')

#### Data Profiling

In [7]:
lagos_df.head(10)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Lagos,Member,Female,Health and beauty,26888.4,7,9410.94,197629.74,1/5/2019,13:08,Epay,188218.8,4.761905,9410.94,9.1
1,631-41-3108,A,Lagos,Normal,Male,Home and lifestyle,16678.8,7,5837.58,122589.18,3/3/2019,13:23,Card,116751.6,4.761905,5837.58,7.4
2,123-19-1176,A,Lagos,Member,Male,Health and beauty,20959.2,8,8383.68,176057.28,1/27/2019,20:33,Epay,167673.6,4.761905,8383.68,8.4
3,373-73-7910,A,Lagos,Normal,Male,Sports and travel,31071.6,7,10875.06,228376.26,2/8/2019,10:37,Epay,217501.2,4.761905,10875.06,5.3
4,355-53-5943,A,Lagos,Member,Female,Electronic accessories,24782.4,6,7434.72,156129.12,2/25/2019,14:36,Epay,148694.4,4.761905,7434.72,5.8
5,665-32-9167,A,Lagos,Member,Female,Health and beauty,13053.6,2,1305.36,27412.56,1/10/2019,17:15,Card,26107.2,4.761905,1305.36,7.2
6,365-64-0515,A,Lagos,Normal,Female,Electronic accessories,16902.0,5,4225.50,88735.50,2/12/2019,10:25,Epay,84510.0,4.761905,4225.50,7.1
7,252-56-2699,A,Lagos,Normal,Male,Food and beverages,15548.4,10,7774.20,163258.20,2/7/2019,16:48,Epay,155484.0,4.761905,7774.20,8.2
8,829-34-3910,A,Lagos,Normal,Female,Health and beauty,25696.8,10,12848.40,269816.40,3/29/2019,19:21,Cash,256968.0,4.761905,12848.40,5.7
9,656-95-9349,A,Lagos,Member,Female,Health and beauty,24814.8,7,8685.18,182388.78,3/11/2019,11:03,Card,173703.6,4.761905,8685.18,4.6

In [8]:
abuja_df.tail()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
327,552-44-5977,B,Abuja,Member,Male,Health and beauty,22320.0,8,8928.00,187488.00,1/3/2019,19:08,Card,178560.0,4.761905,8928.00,6.2
328,430-53-4718,B,Abuja,Member,Male,Health and beauty,27133.2,8,10853.28,227918.88,1/28/2019,15:46,Card,217065.6,4.761905,10853.28,8.4
329,602-16-6955,B,Abuja,Normal,Female,Sports and travel,27576.0,10,13788.00,289548.00,1/24/2019,18:10,Epay,275760.0,4.761905,13788.00,6.0
330,690-01-6631,B,Abuja,Normal,Male,Fashion accessories,6296.4,10,3148.20,66112.20,2/22/2019,18:35,Epay,62964.0,4.761905,3148.20,6.6
331,303-96-2227,B,Abuja,Normal,Female,Home and lifestyle,35056.8,10,17528.40,368096.40,3/2/2019,17:16,Epay,350568.0,4.761905,17528.40,4.4

In [9]:
ph_df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,226-31-3081,C,Port Harcourt,Normal,Female,Electronic accessories,5500.8,5,1375.20,28879.20,3/8/2019,10:29,Cash,27504.0,4.761905,1375.20,9.6
1,699-14-3026,C,Port Harcourt,Normal,Male,Electronic accessories,30740.4,7,10759.14,225941.94,3/25/2019,18:30,Epay,215182.8,4.761905,10759.14,4.1
2,315-22-5665,C,Port Harcourt,Normal,Female,Home and lifestyle,26481.6,10,13240.80,278056.80,2/24/2019,11:38,Epay,264816.0,4.761905,13240.80,8.0
3,300-71-4605,C,Port Harcourt,Member,Male,Electronic accessories,30974.4,5,7743.60,162615.60,2/25/2019,11:24,Epay,154872.0,4.761905,7743.60,4.8
4,183-56-6882,C,Port Harcourt,Member,Female,Food and beverages,35791.2,4,7158.24,150323.04,2/6/2019,10:42,Epay,143164.8,4.761905,7158.24,7.5

In [10]:
lagos_df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [11]:
ph_df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [12]:
abuja_df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [17]:
# combining the data

comb_df = pd.concat([lagos_df, ph_df, abuja_df], axis=0, ignore_index=True)

In [18]:
comb_df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Lagos,Member,Female,Health and beauty,26888.4,7,9410.94,197629.74,1/5/2019,13:08,Epay,188218.8,4.761905,9410.94,9.1
1,631-41-3108,A,Lagos,Normal,Male,Home and lifestyle,16678.8,7,5837.58,122589.18,3/3/2019,13:23,Card,116751.6,4.761905,5837.58,7.4
2,123-19-1176,A,Lagos,Member,Male,Health and beauty,20959.2,8,8383.68,176057.28,1/27/2019,20:33,Epay,167673.6,4.761905,8383.68,8.4
3,373-73-7910,A,Lagos,Normal,Male,Sports and travel,31071.6,7,10875.06,228376.26,2/8/2019,10:37,Epay,217501.2,4.761905,10875.06,5.3
4,355-53-5943,A,Lagos,Member,Female,Electronic accessories,24782.4,6,7434.72,156129.12,2/25/2019,14:36,Epay,148694.4,4.761905,7434.72,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,552-44-5977,B,Abuja,Member,Male,Health and beauty,22320.0,8,8928.00,187488.00,1/3/2019,19:08,Card,178560.0,4.761905,8928.00,6.2
996,430-53-4718,B,Abuja,Member,Male,Health and beauty,27133.2,8,10853.28,227918.88,1/28/2019,15:46,Card,217065.6,4.761905,10853.28,8.4
997,602-16-6955,B,Abuja,Normal,Female,Sports and travel,27576.0,10,13788.00,289548.00,1/24/2019,18:10,Epay,275760.0,4.761905,13788.00,6.0
998,690-01-6631,B,Abuja,Normal,Male,Fashion accessories,6296.4,10,3148.20,66112.20,2/22/2019,18:35,Epay,62964.0,4.761905,3148.20,6.6
999,303-96-2227,B,Abuja,Normal,Female,Home and lifestyle,35056.8,10,17528.40,368096.40,3/2/2019,17:16,Epay,350568.0,4.761905,17528.40,4.4

In [19]:
comb_df.shape

(1000, 17)

In [20]:
ph_df.shape

(328, 17)

In [21]:
lagos_df.shape

(340, 17)

In [22]:
abuja_df.shape

(332, 17)

In [23]:
comb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

Todo

- Combine Data and Time column

- Convert to DateTime

- Change Payment to Payment Type

Branching Out - To further understand pandas. This is not part of the exercise

- Select columns - individual/multiple columns

- select rows

In [24]:
comb_df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Lagos,Member,Female,Health and beauty,26888.4,7,9410.94,197629.74,1/5/2019,13:08,Epay,188218.8,4.761905,9410.94,9.1
1,631-41-3108,A,Lagos,Normal,Male,Home and lifestyle,16678.8,7,5837.58,122589.18,3/3/2019,13:23,Card,116751.6,4.761905,5837.58,7.4
2,123-19-1176,A,Lagos,Member,Male,Health and beauty,20959.2,8,8383.68,176057.28,1/27/2019,20:33,Epay,167673.6,4.761905,8383.68,8.4
3,373-73-7910,A,Lagos,Normal,Male,Sports and travel,31071.6,7,10875.06,228376.26,2/8/2019,10:37,Epay,217501.2,4.761905,10875.06,5.3
4,355-53-5943,A,Lagos,Member,Female,Electronic accessories,24782.4,6,7434.72,156129.12,2/25/2019,14:36,Epay,148694.4,4.761905,7434.72,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,552-44-5977,B,Abuja,Member,Male,Health and beauty,22320.0,8,8928.00,187488.00,1/3/2019,19:08,Card,178560.0,4.761905,8928.00,6.2
996,430-53-4718,B,Abuja,Member,Male,Health and beauty,27133.2,8,10853.28,227918.88,1/28/2019,15:46,Card,217065.6,4.761905,10853.28,8.4
997,602-16-6955,B,Abuja,Normal,Female,Sports and travel,27576.0,10,13788.00,289548.00,1/24/2019,18:10,Epay,275760.0,4.761905,13788.00,6.0
998,690-01-6631,B,Abuja,Normal,Male,Fashion accessories,6296.4,10,3148.20,66112.20,2/22/2019,18:35,Epay,62964.0,4.761905,3148.20,6.6
999,303-96-2227,B,Abuja,Normal,Female,Home and lifestyle,35056.8,10,17528.40,368096.40,3/2/2019,17:16,Epay,350568.0,4.761905,17528.40,4.4

In [25]:
comb_df.Branch

0      A
1      A
2      A
3      A
4      A
      ..
995    B
996    B
997    B
998    B
999    B
Name: Branch, Length: 1000, dtype: object

In [26]:
comb_df['Invoice ID']

0      750-67-8428
1      631-41-3108
2      123-19-1176
3      373-73-7910
4      355-53-5943
          ...
995    552-44-5977
996    430-53-4718
997    602-16-6955
998    690-01-6631
999    303-96-2227
Name: Invoice ID, Length: 1000, dtype: object

In [28]:
comb_df.shape

(1000, 17)

In [29]:
comb_df[['City', 'Quantity', 'Total']]

      City  Quantity      Total
0    Lagos         7  197629.74
1    Lagos         7  122589.18
2    Lagos         8  176057.28
3    Lagos         7  228376.26
4    Lagos         6  156129.12
..     ...       ...        ...
995  Abuja         8  187488.00
996  Abuja         8  227918.88
997  Abuja        10  289548.00
998  Abuja        10   66112.20
999  Abuja        10  368096.40

[1000 rows x 3 columns]

In [31]:
# iloc and loc

# loc - label of row/column

comb_df.loc[0:4]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Lagos,Member,Female,Health and beauty,26888.4,7,9410.94,197629.74,1/5/2019,13:08,Epay,188218.8,4.761905,9410.94,9.1
1,631-41-3108,A,Lagos,Normal,Male,Home and lifestyle,16678.8,7,5837.58,122589.18,3/3/2019,13:23,Card,116751.6,4.761905,5837.58,7.4
2,123-19-1176,A,Lagos,Member,Male,Health and beauty,20959.2,8,8383.68,176057.28,1/27/2019,20:33,Epay,167673.6,4.761905,8383.68,8.4
3,373-73-7910,A,Lagos,Normal,Male,Sports and travel,31071.6,7,10875.06,228376.26,2/8/2019,10:37,Epay,217501.2,4.761905,10875.06,5.3
4,355-53-5943,A,Lagos,Member,Female,Electronic accessories,24782.4,6,7434.72,156129.12,2/25/2019,14:36,Epay,148694.4,4.761905,7434.72,5.8

In [32]:
comb_df.loc[0:4, 'City': 'Gender']

    City Customer type  Gender
0  Lagos        Member  Female
1  Lagos        Normal    Male
2  Lagos        Member    Male
3  Lagos        Normal    Male
4  Lagos        Member  Female

In [34]:
comb_df.loc[0:10, ['City', 'Unit price', 'Quantity']]

     City  Unit price  Quantity
0   Lagos     26888.4         7
1   Lagos     16678.8         7
2   Lagos     20959.2         8
3   Lagos     31071.6         7
4   Lagos     24782.4         6
5   Lagos     13053.6         2
6   Lagos     16902.0         5
7   Lagos     15548.4        10
8   Lagos     25696.8        10
9   Lagos     24814.8         7
10  Lagos     26139.6         6

In [35]:
comb_df.iloc[0:21]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Lagos,Member,Female,Health and beauty,26888.4,7,9410.94,197629.74,1/5/2019,13:08,Epay,188218.8,4.761905,9410.94,9.1
1,631-41-3108,A,Lagos,Normal,Male,Home and lifestyle,16678.8,7,5837.58,122589.18,3/3/2019,13:23,Card,116751.6,4.761905,5837.58,7.4
2,123-19-1176,A,Lagos,Member,Male,Health and beauty,20959.2,8,8383.68,176057.28,1/27/2019,20:33,Epay,167673.6,4.761905,8383.68,8.4
3,373-73-7910,A,Lagos,Normal,Male,Sports and travel,31071.6,7,10875.06,228376.26,2/8/2019,10:37,Epay,217501.2,4.761905,10875.06,5.3
4,355-53-5943,A,Lagos,Member,Female,Electronic accessories,24782.4,6,7434.72,156129.12,2/25/2019,14:36,Epay,148694.4,4.761905,7434.72,5.8
5,665-32-9167,A,Lagos,Member,Female,Health and beauty,13053.6,2,1305.36,27412.56,1/10/2019,17:15,Card,26107.2,4.761905,1305.36,7.2
6,365-64-0515,A,Lagos,Normal,Female,Electronic accessories,16902.0,5,4225.50,88735.50,2/12/2019,10:25,Epay,84510.0,4.761905,4225.50,7.1
7,252-56-2699,A,Lagos,Normal,Male,Food and beverages,15548.4,10,7774.20,163258.20,2/7/2019,16:48,Epay,155484.0,4.761905,7774.20,8.2
8,829-34-3910,A,Lagos,Normal,Female,Health and beauty,25696.8,10,12848.40,269816.40,3/29/2019,19:21,Cash,256968.0,4.761905,12848.40,5.7
9,656-95-9349,A,Lagos,Member,Female,Health and beauty,24814.8,7,8685.18,182388.78,3/11/2019,11:03,Card,173703.6,4.761905,8685.18,4.6
10,765-26-6951,A,Lagos,Normal,Male,Sports and travel,26139.6,6,7841.88,164679.48,1/1/2019,10:39,Card,156837.6,4.761905,7841.88,6.9
11,329-62-1586,A,Lagos,Normal,Male,Food and beverages,19681.2,3,2952.18,61995.78,1/21/2019,18:00,Card,59043.6,4.761905,2952.18,8.6
12,636-48-8204,A,Lagos,Normal,Male,Electronic accessories,12441.6,5,3110.40,65318.40,2/17/2019,11:15,Epay,62208.0,4.761905,3110.40,9.9
13,549-59-1358,A,Lagos,Member,Male,Sports and travel,31906.8,3,4786.02,100506.42,3/2/2019,17:36,Epay,95720.4,4.761905,4786.02,6.0
14,227-03-5010,A,Lagos,Member,Female,Home and lifestyle,18932.4,8,7572.96,159032.16,3/22/2019,19:20,Card,151459.2,4.761905,7572.96,8.5
15,189-17-4241,A,Lagos,Normal,Female,Fashion accessories,31561.2,2,3156.12,66278.52,3/10/2019,12:17,Card,63122.4,4.761905,3156.12,7.7
16,848-62-7243,A,Lagos,Normal,Male,Health and beauty,8960.4,9,4032.18,84675.78,3/15/2019,15:36,Cash,80643.6,4.761905,4032.18,7.4
17,595-11-5460,A,Lagos,Normal,Male,Health and beauty,34768.8,2,3476.88,73014.48,3/15/2019,10:12,Card,69537.6,4.761905,3476.88,5.1
18,129-29-8530,A,Lagos,Member,Male,Sports and travel,22543.2,5,5635.80,118351.80,3/10/2019,19:15,Epay,112716.0,4.761905,5635.80,7.0
19,272-65-1806,A,Lagos,Normal,Female,Electronic accessories,21916.8,9,9862.56,207113.76,1/15/2019,17:17,Epay,197251.2,4.761905,9862.56,4.7
20,162-48-8011,A,Lagos,Member,Female,Food and beverages,16052.4,5,4013.10,84275.10,2/10/2019,15:10,Cash,80262.0,4.761905,4013.10,8.5

In [37]:
comb_df.iloc[0:20, 0:5]

     Invoice ID Branch   City Customer type  Gender
0   750-67-8428      A  Lagos        Member  Female
1   631-41-3108      A  Lagos        Normal    Male
2   123-19-1176      A  Lagos        Member    Male
3   373-73-7910      A  Lagos        Normal    Male
4   355-53-5943      A  Lagos        Member  Female
5   665-32-9167      A  Lagos        Member  Female
6   365-64-0515      A  Lagos        Normal  Female
7   252-56-2699      A  Lagos        Normal    Male
8   829-34-3910      A  Lagos        Normal  Female
9   656-95-9349      A  Lagos        Member  Female
10  765-26-6951      A  Lagos        Normal    Male
11  329-62-1586      A  Lagos        Normal    Male
12  636-48-8204      A  Lagos        Normal    Male
13  549-59-1358      A  Lagos        Member    Male
14  227-03-5010      A  Lagos        Member  Female
15  189-17-4241      A  Lagos        Normal  Female
16  848-62-7243      A  Lagos        Normal    Male
17  595-11-5460      A  Lagos        Normal    Male
18  129-29-8530      A  Lagos        Member    Male
19  272-65-1806      A  Lagos        Normal  Female

In [38]:
## filtering

comb_df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Lagos,Member,Female,Health and beauty,26888.4,7,9410.94,197629.74,1/5/2019,13:08,Epay,188218.8,4.761905,9410.94,9.1
1,631-41-3108,A,Lagos,Normal,Male,Home and lifestyle,16678.8,7,5837.58,122589.18,3/3/2019,13:23,Card,116751.6,4.761905,5837.58,7.4
2,123-19-1176,A,Lagos,Member,Male,Health and beauty,20959.2,8,8383.68,176057.28,1/27/2019,20:33,Epay,167673.6,4.761905,8383.68,8.4
3,373-73-7910,A,Lagos,Normal,Male,Sports and travel,31071.6,7,10875.06,228376.26,2/8/2019,10:37,Epay,217501.2,4.761905,10875.06,5.3
4,355-53-5943,A,Lagos,Member,Female,Electronic accessories,24782.4,6,7434.72,156129.12,2/25/2019,14:36,Epay,148694.4,4.761905,7434.72,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,552-44-5977,B,Abuja,Member,Male,Health and beauty,22320.0,8,8928.00,187488.00,1/3/2019,19:08,Card,178560.0,4.761905,8928.00,6.2
996,430-53-4718,B,Abuja,Member,Male,Health and beauty,27133.2,8,10853.28,227918.88,1/28/2019,15:46,Card,217065.6,4.761905,10853.28,8.4
997,602-16-6955,B,Abuja,Normal,Female,Sports and travel,27576.0,10,13788.00,289548.00,1/24/2019,18:10,Epay,275760.0,4.761905,13788.00,6.0
998,690-01-6631,B,Abuja,Normal,Male,Fashion accessories,6296.4,10,3148.20,66112.20,2/22/2019,18:35,Epay,62964.0,4.761905,3148.20,6.6
999,303-96-2227,B,Abuja,Normal,Female,Home and lifestyle,35056.8,10,17528.40,368096.40,3/2/2019,17:16,Epay,350568.0,4.761905,17528.40,4.4

In [39]:
comb_df[comb_df['Payment'] == 'Epay']

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Lagos,Member,Female,Health and beauty,26888.4,7,9410.94,197629.74,1/5/2019,13:08,Epay,188218.8,4.761905,9410.94,9.1
2,123-19-1176,A,Lagos,Member,Male,Health and beauty,20959.2,8,8383.68,176057.28,1/27/2019,20:33,Epay,167673.6,4.761905,8383.68,8.4
3,373-73-7910,A,Lagos,Normal,Male,Sports and travel,31071.6,7,10875.06,228376.26,2/8/2019,10:37,Epay,217501.2,4.761905,10875.06,5.3
4,355-53-5943,A,Lagos,Member,Female,Electronic accessories,24782.4,6,7434.72,156129.12,2/25/2019,14:36,Epay,148694.4,4.761905,7434.72,5.8
6,365-64-0515,A,Lagos,Normal,Female,Electronic accessories,16902.0,5,4225.50,88735.50,2/12/2019,10:25,Epay,84510.0,4.761905,4225.50,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,374-38-5555,B,Abuja,Normal,Female,Fashion accessories,22935.6,5,5733.90,120411.90,2/7/2019,19:30,Epay,114678.0,4.761905,5733.90,8.5
994,764-44-8999,B,Abuja,Normal,Female,Health and beauty,5313.6,2,531.36,11158.56,2/18/2019,14:42,Epay,10627.2,4.761905,531.36,4.3
997,602-16-6955,B,Abuja,Normal,Female,Sports and travel,27576.0,10,13788.00,289548.00,1/24/2019,18:10,Epay,275760.0,4.761905,13788.00,6.0
998,690-01-6631,B,Abuja,Normal,Male,Fashion accessories,6296.4,10,3148.20,66112.20,2/22/2019,18:35,Epay,62964.0,4.761905,3148.20,6.6
999,303-96-2227,B,Abuja,Normal,Female,Home and lifestyle,35056.8,10,17528.40,368096.40,3/2/2019,17:16,Epay,350568.0,4.761905,17528.40,4.4

In [46]:
comb_df[comb_df['Quantity'] > 5]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Lagos,Member,Female,Health and beauty,26888.4,7,9410.94,197629.74,1/5/2019,13:08,Epay,188218.8,4.761905,9410.94,9.1
1,631-41-3108,A,Lagos,Normal,Male,Home and lifestyle,16678.8,7,5837.58,122589.18,3/3/2019,13:23,Card,116751.6,4.761905,5837.58,7.4
2,123-19-1176,A,Lagos,Member,Male,Health and beauty,20959.2,8,8383.68,176057.28,1/27/2019,20:33,Epay,167673.6,4.761905,8383.68,8.4
3,373-73-7910,A,Lagos,Normal,Male,Sports and travel,31071.6,7,10875.06,228376.26,2/8/2019,10:37,Epay,217501.2,4.761905,10875.06,5.3
4,355-53-5943,A,Lagos,Member,Female,Electronic accessories,24782.4,6,7434.72,156129.12,2/25/2019,14:36,Epay,148694.4,4.761905,7434.72,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,552-44-5977,B,Abuja,Member,Male,Health and beauty,22320.0,8,8928.00,187488.00,1/3/2019,19:08,Card,178560.0,4.761905,8928.00,6.2
996,430-53-4718,B,Abuja,Member,Male,Health and beauty,27133.2,8,10853.28,227918.88,1/28/2019,15:46,Card,217065.6,4.761905,10853.28,8.4
997,602-16-6955,B,Abuja,Normal,Female,Sports and travel,27576.0,10,13788.00,289548.00,1/24/2019,18:10,Epay,275760.0,4.761905,13788.00,6.0
998,690-01-6631,B,Abuja,Normal,Male,Fashion accessories,6296.4,10,3148.20,66112.20,2/22/2019,18:35,Epay,62964.0,4.761905,3148.20,6.6
999,303-96-2227,B,Abuja,Normal,Female,Home and lifestyle,35056.8,10,17528.40,368096.40,3/2/2019,17:16,Epay,350568.0,4.761905,17528.40,4.4

In [50]:
comb_df.query("Quantity > 5 and Payment == 'Card'")

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
1,631-41-3108,A,Lagos,Normal,Male,Home and lifestyle,16678.8,7,5837.58,122589.18,3/3/2019,13:23,Card,116751.6,4.761905,5837.58,7.4
9,656-95-9349,A,Lagos,Member,Female,Health and beauty,24814.8,7,8685.18,182388.78,3/11/2019,11:03,Card,173703.6,4.761905,8685.18,4.6
10,765-26-6951,A,Lagos,Normal,Male,Sports and travel,26139.6,6,7841.88,164679.48,1/1/2019,10:39,Card,156837.6,4.761905,7841.88,6.9
14,227-03-5010,A,Lagos,Member,Female,Home and lifestyle,18932.4,8,7572.96,159032.16,3/22/2019,19:20,Card,151459.2,4.761905,7572.96,8.5
24,199-75-8169,A,Lagos,Member,Male,Sports and travel,5691.6,10,2845.80,59761.80,3/6/2019,12:27,Card,56916.0,4.761905,2845.80,8.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965,624-01-8356,B,Abuja,Normal,Female,Home and lifestyle,17643.6,10,8821.80,185257.80,1/27/2019,10:44,Card,176436.0,4.761905,8821.80,4.2
972,431-66-2305,B,Abuja,Normal,Female,Electronic accessories,31770.0,9,14296.50,300226.50,2/15/2019,20:51,Card,285930.0,4.761905,14296.50,7.6
986,746-04-1077,B,Abuja,Member,Female,Food and beverages,30466.8,10,15233.40,319901.40,1/1/2019,11:36,Card,304668.0,4.761905,15233.40,9.0
995,552-44-5977,B,Abuja,Member,Male,Health and beauty,22320.0,8,8928.00,187488.00,1/3/2019,19:08,Card,178560.0,4.761905,8928.00,6.2
996,430-53-4718,B,Abuja,Member,Male,Health and beauty,27133.2,8,10853.28,227918.88,1/28/2019,15:46,Card,217065.6,4.761905,10853.28,8.4